.container {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.member {
  text-align: center;
  flex: 1 1 200px;
}
.memberImage {
  max-width: 146px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.contact {
  margin-top: 20px;
}
